@{
    ViewBag.Title = "Home Page";
}




<div class="container">
    <h1 class=" text-center ">Buscar Usuario</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">


                <form id="formUsuario" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Id Usuario</label>
                        <input type="text" class="form-control" id="txtCodProducto" placeholder="Ingrese un id de usuario ">
                    </div>
                    <button onclick="getCopagoByCodPrducto(this)" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>

    </div>
    <div @*class="table-responsive"*@ id="divResult">
    </div>



</div>


@section scripts {
    <script src="~/ViewsScript/Index.js"></script>
}